@{

	ViewBag.title = "Plan management";
	ViewBag.cardTitle = "Create Plan";
}

@model PlanViewModel;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<section class="plan-create">

	<div id="Warp" hidden>
		
		<select  id="ben" name="ben" asp-items="Model.Exercises" class="form-control">
			<option selected="" value="0">-- Select Exercise</option>
		</select>
		
	</div>
	<div class="container">
		<div style="display:flex;justify-content:center">
			<button id="openGIButton-0" type="button" onclick="openSelectedmodal(0)" data-toggle="modal" data-target="#exampleModal-0" class="btn btn-info">Client Info</button>


		</div>
		<!-- Modal update General Info-->
		<div class="modal fade" id="GIModal-0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Client Information</h5>
						<button type="button" class="close" id="closeGIButton-0" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">


						<div style="display:flex;justify-content:space-between;flex-direction:column">

							<div style="display:flex;justify-content:space-between">
								<div class="form-group" style="flex:0.3">
									<label asp-for="Gender">Gender</label>
									<input type="text" asp-for="Gender" readonly class="form-control" />
								</div>

								<div class="form-group" style="flex:0.3">
									<label asp-for="Age">Age</label>
									<input type="text" asp-for="Age" readonly class="form-control" />
								</div>

								<div class="form-group" style="flex:0.3">
									<label asp-for="Weight">Weight</label>
									<input type="text" asp-for="Weight" readonly class="form-control" />
								</div>
							</div>
							<div style="display:flex;justify-content:space-between">
								<div class="form-group" style="flex:0.4">
									<label asp-for="Hight">Hight</label>
									<input type="text" asp-for="Hight" readonly class="form-control" />
								</div>

								<div class="form-group" style="flex:0.4">
									<label asp-for="BodyFat">BodyFat</label>
									<input type="text" asp-for="BodyFat" readonly class="form-control" />
								</div>

							
							</div>

							<div class="form-group" style="flex:0.4">
								<label asp-for="Target">Target</label>
								<input type="text" asp-for="Target" readonly class="form-control" />
							</div>

							<div class="form-group" style="flex:0.4">
								<label asp-for="Diseases">Diseases</label>
								<input type="text" asp-for="Diseases" readonly class="form-control" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" id="MaincloseGIButton-0" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>


				</div>
			</div>
		</div>
		
		<form method="post">
			<input asp-for="OrderId" hidden  value="@Model.OrderId" />
			<div style="display:flex;justify-content:space-between;">
				<div style="width:22%;display:flex;flex-direction:column">
					<h2>Week 1</h2>
					@for (int i = 0; i < 7; i++)
					{

						<div class="card" style="width:100%;" id="week1day[@i]">
							<div class="card-body">
								<h5 class="card-title">Day @(i + 1)</h5>

								<button type="button" class="btn" style="width:100%;" onclick="openn('week1HiddenPartday-@i')">
									<i class="fa-solid fa-angle-down"></i>

								</button>
							</div>
							<div hidden class="bg-dark" id="week1HiddenPartday-@i">
								<div style="text-align:center">Add Exerceses</div>
								<button style="margin-left: 42%;" class="btn btn-primary" onclick="add(1,@i)" type="button">+</button>
							</div>
						</div>



					}

				</div>

				<div style="width:22%;display:flex;flex-direction:column">
					<h2>Week 2</h2>
					@for (int i = 0; i < 7; i++)
					{

						<div class="card" style="width:100%;" id="week2day[@i]">
							<div class="card-body">
								<h5 class="card-title">Day @(i + 1)</h5>

								<button type="button" class="btn" style="width:100%;" onclick="openn('week2HiddenPartday-@i')">
									<i class="fa-solid fa-angle-down"></i>

								</button>
							</div>
							<div  hidden class="bg-dark" id="week2HiddenPartday-@i">
								<div style="text-align:center">Add Exerceses</div>
								<button style="margin-left: 42%;" class="btn btn-primary" onclick="add(2,@i)" type="button">+</button>
							</div>
						</div>



					}

				</div>


				<div style="width:22%;display:flex;flex-direction:column">
					<h2>Week 3</h2>
					@for (int i = 0; i < 7; i++)
					{

						<div class="card" style="width:100%;" id="week3day[@i]">
							<div class="card-body">
								<h5 class="card-title">Day @(i + 1)</h5>

								<button type="button" class="btn" style="width:100%;" onclick="openn('week3HiddenPartday-@i')">
									<i class="fa-solid fa-angle-down"></i>

								</button>
							</div>
							<div hidden class="bg-dark" id="week3HiddenPartday-@i">
								<div style="text-align:center">Add Exerceses</div>
								<button style="margin-left: 42%;" class="btn btn-primary" onclick="add(3,@i)" type="button">+</button>
							</div>
						</div>



					}

				</div>


				<div style="width:22%;display:flex;flex-direction:column">
					<h2>Week 4</h2>
					@for (int i = 0; i < 7; i++)
					{

						<div class="card" style="width:100%;" id="week4day[@i]">
							<div class="card-body">
								<h5 class="card-title">Day @(i + 1)</h5>

								<button type="button" class="btn" style="width:100%;" onclick="openn('week4HiddenPartday-@i')">
									<i class="fa-solid fa-angle-down"></i>

								</button>
							</div>
							<div hidden class="bg-dark" id="week4HiddenPartday-@i">
								<div style="text-align:center">Add Exerceses</div>
								<button style="margin-left: 42%;" class="btn btn-primary" onclick="add(4,@i)" type="button">+</button>
							</div>
						</div>



					}

				</div>
			</div>

		
			<div class="form-group" style="display:flex;justify-content:center">
				<button class="btn btn-primary"> Create & Delevir</button>

			</div>

		</form>

	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

	<script src="~/js/TrainingPlan.js"></script>
	<script src="~/js/TrainingPlanIndex.js"></script>
}
