@using OnlineGym.Utilities
@{

    ViewBag.title = "Client management";
    ViewBag.cardTitle = "View Orders";
}
@model List<OrderViewModel>
<section class="Client-table" style="width:100%">


    <div class="container">

        <table id="ClientTable" style="width:100%" class="display  table table-striped">

            <thead>

                <tr>
                    <th>Order id</th>
                    <th>Client Email</th>
                    <th>Subscription Name</th>
                    <th> Duration</th>
                    <th>Status</th>
                    <th>start date</th>
                    <th>Actions</th>
                   

                </tr>
            </thead>
            <tbody id="t-body">

                @for (int i = 0; i < Model?.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].ClientSubscription.ClientSubscriptionId</td>
                        <td>@Model[i].ClientSubscription.Client.Email</td>

                        <td>@Model[i].ClientSubscription.Subscription.SubscriptionName</td>
                        <td>@Model[i].ClientSubscription.Subscription.DurationDays day</td>

                        <td>@Model[i].ClientSubscription.Status</td>

                        <td>

                            <form asp-action="ChangeOrderStartDate">

                                <input name="OrderId" value="@Model[i].ClientSubscription.ClientSubscriptionId" hidden />
                                @if (Model[i].ClientSubscription.Status == SD.Proccess)
                                {
                                    <div class="btn btn-primary">Wait</div>

                                }
                                else if (Model[i].ClientSubscription.Status == SD.proccessed)
                                {

                                    @if (Model[i].ClientSubscription.ClientSubscriptionDetails.StartDate == null)
                                    {
                                        <p>Add start date</p>
                                        <input type="date" name="newdate" />
                                    }
                                    else
                                    {
                                        <p>Change start date : @Model[i].ClientSubscription.ClientSubscriptionDetails.StartDate.ToString()</p>
                                        <input type="date" name="newdate" value="" />
                                    }
                                    <button type="submit" class="btn btn-primary">save</button>
                                    
                                }
                                else
                                {
                                    <p>Start date : @Model[i].ClientSubscription.ClientSubscriptionDetails.StartDate.ToString()</p>

                                }


                            </form>
                          
                        </td>
                        <td>

                            @if (Model[i].ClientSubscription.Status == SD.Proccess)
                            {
                                <div class="btn btn-primary">Wait</div>

                            }
                            else if (Model[i].ClientSubscription.Status == SD.proccessed)
                            {
                                if (Model[i].hasPlan == false)
                                {
                                    <a href="/Coach/TrainingPlan/CreateForClient?OrderId=@Model[i].ClientSubscription.ClientSubscriptionId" class="btn btn-primary">Make A Plan</a>

                                }
                                else
                                {
                                    <a href="" class="btn btn-primary">Plan Created</a>

                                }

                             
                            }
                            else
                            {
                                <a href="" class="btn btn-primary">More</a>
                            }
                        </td>

                    </tr>
                }



            </tbody>




        </table>

    </div>
</section>



@section Scripts {



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
